---
---
<!DOCTYPE HTML>

<html>
  {% include head.html %}
  <body>
    <div id="top-bar"></div>
    <div class="row-fluid">
      {% if page.hero %}
      <div class="hero" style=background-image:url({{page.hero}}) no-repeat center center fixed;>
      </div>
      {% endif %}

      <div id="wrap">
        <div class="content">
          <div class="row">
            <div class="span8 inner_content">
                {{ page.title }}
                {{ content }}
            </div>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>

