---
---

@topBar: #2A8FBD;
@backgroundColour: #f7f7fa;
@highlightGrey: #666666;
@plainGrey: #C0C0C0;
@postTitle: #AD234B;
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,800");

html{
  height: 100%;
}

body {
  background-color: @backgroundColour;
  height: 100%;
  font-family: 'Open Sans';
}

#top-bar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 5px;
  background-color: @topBar;
}

#wrap {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

a {
  transition: color 0.5s;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  text-decoration: none;
  color: @postTitle;
}

a:hover {
  color: @highlightGrey;
}

.container {
  min-height: 100%;
  padding: 0 10px 0 10px;
}

.title{
  line-height: 27px;
  margin-top: 60px;
  margin-bottom: 40px;
  font-style: italic;
  font-size: 20px;
  color: @plainGrey;
  a {
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    text-decoration: underline;
    color: @highlightGrey;
  }

  a:hover {
    color: @postTitle;
  }
}

.highlight-text {
  font-style: initial;
  font-weight: bold;
  color: @highlightGrey;
}

.posts {
  list-style: none;
  margin-left: auto;
  margin-right: auto;

  .post {
    padding: 14px 0 14px 0;
    overflow: hidden;
  }

  .summary {
    float: left;
  }

  .post_title {
    float: left;
    font-weight: bold;
    font-size: 25px;
  }

  .post_date {
    float: left;
    font-weight: 200;
    color: grey;
    margin-top: 5px;
  }
}

.content {
  #content_post {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;

    a {
      color: #00008c;
    }

    .hero {
      filter: blur(6px);
      -webkit-filter: blur(5px);
      /*-moz-filter: blur(10px);*/
      /*-o-filter: blur(10px);*/
      /*-ms-filter: blur(10px);*/
    }

    .post-title {
      background-position: 50% 0;
      background-attachment: fixed;
      overflow: hidden;
      height: auto;
      background-size: 100% auto;
      text-align: center;
      color: white;
      font-style: initial;
      font-weight: bold;
    }
  }
}




/* responsive design */
/* Large desktop */
@media (min-width: 1200px) {
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
}
